# 1.  Defining the Question

# a) Specifying the Data Analysis Question

Build a model to predict whether a potential promotee at a particular checkpoint will be promoted or not after the evaluation process

# b) Defining the Metric for Success

We will have achieved our objective if we can identify the eligible candidates at a particular checkpoint and reduce delay in transition to new roles by the employees

# c) Understanding the Context

Your client is a large MNC and they have 9 broad verticals across the organisation. One of the problem your client is facing is around identifying the right people for promotion (only for manager position and below) and prepare them in time. Currently the process, they are following is:

They first identify a set of employees based on recommendations/ past performance
Selected employees go through the separate training and evaluation program for each vertical. These programs are based on the required skill of each vertical
At the end of the program, based on various factors such as training performance, KPI completion (only employees with KPIs completed greater than 60% are considered) etc., employee gets promotion.

For above mentioned process, the final promotions are only announced after the evaluation and this leads to delay in transition to their new roles. Hence, company needs your help in identifying the eligible candidates at a particular checkpoint so that they can expedite the entire promotion cycle.

They have provided multiple attributes around Employee's past and current performance along with demographics. Now, The task is to predict whether a potential promotee at a checkpoint in the test set will be promoted or not after the evaluation process.

# d) Recording the Experimental Design



1.  Import libraries
2.  Import the data
3.  Perform data cleaning and preparation
4.  Analyze the data
5.  Build and train the model
6.  Draw conclusions

# e) Data Relevance

The data was relevant for the analysis

# f) Data Preparation

In [ ]:
#importing the libraries
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Importing the data

hr_df = pd.read_csv("https://bit.ly/2ODZvLCHRDataset")
#checking the firs 5 record
hr_df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
#checking the last 5 record
hr_df.tail()

       employee_id         department  ... avg_training_score is_promoted
54803         3030         Technology  ...                 78           0
54804        74592         Operations  ...                 56           0
54805        13918          Analytics  ...                 79           0
54806        13614  Sales & Marketing  ...                 45           0
54807        51526                 HR  ...                 49           0

[5 rows x 14 columns]

In [ ]:
#renaming 'awards_won?' column to get rid of the question mark and make the naming consistent with other columns
hr_df = hr_df.rename({'awards_won?': 'awards_won'},axis=1)
hr_df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [ ]:
#checking the size of the data
hr_df.shape

(54808, 14)

In [ ]:
#checking missing values
hr_df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won                 0
avg_training_score         0
is_promoted                0
dtype: int64

Education level and previous year rating are critical in determining the eligibility for promotion, we will therefore drop records where these values are not known

In [ ]:
#dropping null values 
hr_df = hr_df.dropna()
hr_df.shape

(48660, 14)

In [ ]:
#checking the datatypes
hr_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won                int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [ ]:
#converting previous year rating to int
hr_df['previous_year_rating']= hr_df['previous_year_rating'].astype(np.int64)
hr_df.dtypes

employee_id              int64
department              object
region                  object
education               object
gender                  object
recruitment_channel     object
no_of_trainings          int64
age                      int64
previous_year_rating     int64
length_of_service        int64
KPIs_met >80%            int64
awards_won               int64
avg_training_score       int64
is_promoted              int64
dtype: object

In [ ]:
#checking for duplicates
hr_df.duplicated().sum()

0

There are no duplicates in our dataset

In [ ]:
#checking statistical measures of the data
hr_df.describe()

        employee_id  no_of_trainings  ...  avg_training_score   is_promoted
count  48660.000000     48660.000000  ...        48660.000000  48660.000000
mean   39169.271681         1.251993  ...           63.603309      0.086971
std    22630.461554         0.604994  ...           13.273502      0.281795
min        1.000000         1.000000  ...           39.000000      0.000000
25%    19563.500000         1.000000  ...           51.000000      0.000000
50%    39154.000000         1.000000  ...           60.000000      0.000000
75%    58788.250000         1.000000  ...           76.000000      0.000000
max    78298.000000        10.000000  ...           99.000000      1.000000

[8 rows x 9 columns]

In [ ]:
hr_df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

# g) Building and training the model

In [21]:
features = hr_df.drop(['is_promoted','department','region','education','gender','recruitment_channel'], axis=1)
target = hr_df['is_promoted']

model = DecisionTreeClassifier(random_state=12345)

model.fit(features, target)

predictions = model.predict(features)

print('Predictions:', predictions)
print('Actual:', target.values)

Predictions: [0 0 0 ... 0 0 0]
Actual: [0 0 0 ... 0 0 0]

#h) Conclusion

We compared to the actual values with the predictions and the model seems to accurately predict whether potential promotees will be promoted or not